body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
    color: #ffa500; /* Laranja para os destaques */
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #ffa500; /* Borda laranja */
}

.about-me {
    max-width: 500px;
}

.projects {
    text-align: center;
    padding: 20px;
}

.carousel {
    display: flex;
    overflow-x: auto;
}

.project {
    min-width: 300px;
    margin: 10px;
    background-color: #333; /* Cinza escuro para os cartões de projeto */
    padding: 15px;
    border-radius: 10px;
}

.project h3, .project p, .project a {
    color: #fff; /* Branco para o texto dentro dos cartões de projeto */
}

.project a {
    text-decoration: none;
    color: #ffa500; /* Laranja para links */
}

/* Estilos adicionais para botões de navegação do carrossel, responsividade, etc. */
